<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.healthhunt.framework" >
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CAMERA"/>
<application android:label="@string/app_name">

<activity
    android:name="frameworks.imageloader.view.ActivityPicChooser"
    android:theme="@style/Theme.AppCompat.Transparent"/>


    <activity
        android:name="frameworks.OTP.view.OtpVerficationActivity"
        android:theme="@style/Theme.AppCompat.Light.Dialog" />

    <receiver
        android:name="frameworks.OTP.view.OTPReceiver"
        android:enabled="true"
        android:exported="true" />

</application>
</manifest>
